<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 26.11.2018, 10:36</p>
            <h2><a href="">Antes del Homo sapiens todos fueron inocentes</a></h2>
            <p>Existe una teoría, ampliamente extendida, de que antes de que el Homo sapiens hiciera su flamante aparición en África, hace unos 300.000 años, nuestros ancestros fabricantes de herramientas ya habían hecho un daño considerable en la fauna que explotaban para sobrevivir. Su intervención podía explicar la extraña desaparición de grandes mamíferos en el continente madre en los últimos millones de años. De esta forma, el género homo parecía unido a la devastación prácticamente desde que fue capaz de lanzar o tallar una piedra.</p>
        </div>

        <div>
            <p>published: 26.11.2018, 10:56</p>
            <h2><a href="">Convivimos miles de años con ratas gigantes</a></h2>
            <p>Pesaba más de cinco kilogramos y era hasta diez veces más grande que las ratas modernas. Convivió durante miles de años con nuestros antepasados, que llegaron a alimentarse de ellas. Un equipo de paleontólogos de la Universidad Nacional de Australia (ANU) ha descubierto los restos fósiles de siete ejemplares de rata gigante en Timor oriental. Un roedor que podía alcanzar hasta diez veces el tamaño de sus parientes actuales. Para Julien Louys, uno de los directores del proyecto, estamos ante los mayores ejemplares de rata descubiertos hasta ahora. El hallazgo ha sido presentado en la Reunión de la Sociedad de Paleontología de Vertebrados en Texas.</p>
        </div>
    </body>
</html>